* {
    box-sizing: border-box;
}

$color-footer:rgb(143, 140, 138);
$color-footer-text: rgb(192, 192, 192);
@import 'fonts';
@import 'partials/public/general/footer';
@import 'partials/public/general/navBar';
@import 'partials/public/blog/postNews';
@import 'partials/public/other/loginForm';
@import 'partials/public/mainPage/carousel';
@import 'partials/public/blog/blog';
@import 'partials/public/general/scroll';
@import 'partials/public/shop/catalog.scss';
@import 'partials/public/shop/productPage.scss';
@import 'partials/public/shop/basket.scss';
@import 'partials/public/shop/searchOrder.scss';
body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 !important;
    position: relative;
    width: 100vw;
    height: 100vh;
    // background-color: blue;
    //font-family: 'Cyrillic Times ET';
    // background-color: grey;
}

.page-content {
    position: relative;
    display: block;
    padding-top: 26vh;
    min-height: 100vh;
    transition: .5s;
}

//////   КАРУСЕЛЬ  ////////
//// КАРТОЧКИ ТОВАРА ////////
.prodCard {
    margin: 5px;
    padding: 5px;
    background-color: #B5ADAD;
    display: inline-block;
}

.productContainer {
    margin: 0;
    width: 100vw;
    background-color: #EE9191;
}