$color-footer:rgb(143, 140, 138);
$color-footer-text: rgb(192, 192, 192);
@import 'partials/footer';
@import 'partials/navBar';
@import 'partials/postNews';
@import 'fonts';
@import 'partials/loginForm';
//// COLORS ////////
////
body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 !important;
    position: relative;
    width: 100vw;
    height: 100vh;
    //font-family: 'Cyrillic Times ET';
    // background-color: grey;
}

.page-content {
    display: block;
    padding-top: 17.5vh;
    min-height: 100vh;
}

//////   КАРУСЕЛЬ  ////////
//// КАРТОЧКИ ТОВАРА ////////
.prodCard {
    margin: 5px;
    padding: 5px;
    background-color: #B5ADAD;
    display: inline-block;
}

.productContainer {
    margin: 0;
    width: 100vw;
    background-color: #EE9191;
}