<div class="blog-content">
    <div class="blog-title">
        <h1>Новости мастерской Алены Суворовой</h1>
    </div>

    {{#if news.length}}
    <ul class="blog-ul">
        {{#each news}}
        {{> blogLi}}
        {{/each}}
    </ul>
    {{else}}
    Новостей пока нету :(
    {{/if}}
</div>