{{#if order}}
<div class="search-form">
    <form action="/orders/search" class="search-form" method="POST">
        <label for="search">Номер заказа</label>
        <input type="text" value="{{order.orderNumber}}" name="orderNum">
        <button type="submit">Поиск</button>
    </form>
    {{> orderField}}
</div>
{{else}}
<div class="search-form">
    <form action="/orders/search" class="search-form" method="POST">
        <label for="search">Номер заказа</label>
        <input type="text" name="orderNum">
        <button type="submit">Поиск</button>
    </form>
</div>
{{/if}}