<li>
    <div class="blog-li">
        <div class="post-title">
            <a href="/blog/news/{{ _id}}">{{ newsTitle }}
            </a>
        </div>
        <div class="blog-li-content">
            <div class="post-image"></div>

            <p class="post-description">{{news.description}}</p>
        </div>
        <div class="blog-li-bottom">
            <a href="/blog/news/{{_id}}">Подробне...</a>
        </div>
    </div>
</li>