<div class="footer-desktop">
    <div class="footer-head">
        <div class="left-column footer-column-text">
            <ul>
                <li><a href="">Каталог</a></li>
                <li><a href="">Блог</a></li>
                <li><a href="">Условия</a></li>
                <li><a href="">Доставка</a></li>
            </ul>

        </div>
        <div class="center-column footer-column-text">
            <ul>
                <li><a href="">Женское</a></li>
                <li><a href="">Мужское</a></li>
                <li><a href="">Сумки</a></li>
                <li><a href="">Кошельки | Портмоне</a></li>
                <li><a href="">Аксессуары</a></li>
                <li><a href="">Ремни</a></li>
            </ul>
        </div>

        <div class="right-column footer-column-text">
            <a href="https://www.instagram.com/bags.friends/"><img src="../../image/icons-instagram.png" alt=""
                    class="footer-icon"></a>
            <a href="https://vk.com/bags.friends"><img src="../../image/icons-vk.png" alt="" class="footer-icon"></a>
            <a href=""><img src="../../image/icons-mail.png" alt="" class="footer-icon"></a>
            <a href=""><img src="../../image/icons-telegram.png" alt="" class="footer-icon"></a>
            <a href=""><img src="../../image/icons-whatsapp.png" alt="" class="footer-icon"></a>
            <a href=""><img src="../../image/icons-viber.png" alt="" class="footer-icon"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-logo"></div>
        <div class="geo-year">Russia. 2021</div>
    </div>
</div>