<div id="carousel" class="carousel">

    <div class="gallery">
        <ul id="images" class="images">
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
            <li><img src="../image/zaglushka.png"></li>
        </ul>
    </div>
    <button class="button prev"></button>
    <button class="button next"></button>
</div>

<script src="../script/carousel.js"></script>