<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">bagsfriends.ru</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="../../../manage/products">Товары</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link active" href="../../../../manage/products/shipments">Поставки</a>
                </li>
                <a class="nav-link active" href="../../../manage/orders">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../../../manage/news">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../../logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>