<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="../../../../style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../../../style/style.css">
    <link rel="stylesheet" href="../../../../style/manageStyle.css">
    <script src="../../../../script/bootstrap/bootstrap.js"></script>
    <title>{{ title }}</title>