<div class="navbar-desktop">
    <div class="navbar-head">
        <div class="navbar-logo">
            <a href="/" class="navbar-logo-logo"></a>
        </div>
        <div class="navbar-buttons">
            <a href="/basket"><img src="image/icon-shopping-cart.svg" alt="" class="navbar-buttons-button"></a>
            <a href="#"><img src="image/icon-magnifying-glass.svg" alt="" class="navbar-buttons-button"></a>
            <a href="#"><img src="image/icon-avatar.svg" alt="" class="navbar-buttons-button"></a>
        </div>
    </div>
    <div class="navbar-footer">
        <ul class="navbar-links">
            <li class="navbar-link"><a href="/shop">Каталог</a></li>
            <li class="navbar-link"><a href="/blog">Блог</a></li>
            <li class="navbar-link"><a href="/info">Условия</a></li>
            <li class="navbar-link"><a href="/contact">Контакты</a></li>
        </ul>
    </div>
</div>