<div class="navbar-desktop">
    <div class="navbar-head">
        <a href="/"><img src="image/logo.png" alt="" class="navbar-logo"></a>
        <a href="/basket"><img src="image/icon-shopping-cart.svg" alt=""></a>
        <a href="#"><img src="image/icon-magnifying-glass.svg" alt=""></a>
        <a href="#"><img src="image/icon-avatar.svg" alt=""></a>
    </div>
    <div class="navbar-footer">
        <ul class="navbar-links">
            <li class="navbar-link"><a href="/shop">Каталог</a></li>
            <li class="navbar-link"><a href="/blog">Блог</a></li>
            <li class="navbar-link"><a href="/info">Условия</a></li>
            <li class="navbar-link"><a href="/contact">Контакты</a></li>
        </ul>
    </div>
</div>