.header-minimal {
    position: fixed;
    height: 12vh !important;
}

.header-minimal-logo {
    height: 7vh !important;
    min-width: none;
    width: 18vw !important;
}

.header-buttons-minimal {
    width: 20px !important;
}

.navbar-links-minimal {
    font-size: 20px !important;
}

.page-content-minimal {
    padding-top: 17vh !important;
}

.catalog-navbar-ul-minimal {
    padding: 1.5vh 0 !important;
    font-size: 18px;
}