.header-minimal {
    position: fixed;
    height: 12vh !important;
}

.header-minimal-logo {
    height: 7vh !important;
    min-width: none;
    width: 18vw !important;
}

.header-buttons-minimal {
    width: 20px !important;
}

.navbar-links-minimal {
    font-size: 20px !important;
}