{{> head}}

</head>
<script src="../../script/preloader.js"></script>

<body style="display: none;">
    <div class="container">
        {{> NavBar}}
        {{{body}}}

        {{> footer}}
    </div>
</body>

</html>