.catalog {
    display: flex;
    height: 185vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.catalog-group {
    height: 60vh;
    width: 49vw;
    margin: 0 auto;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &:hover {
        opacity: .7;
        background-size: 105%;
    }
    a {
        font-family: 'Bellota';
        text-decoration: none;
        padding: 15px 150px;
        font-size: 30px;
        color: white;
        border: white solid 5px;
    }
}

.catalog-column {
    display: inline-block;
    height: 1700px;
}

.catalog-womans {
    background-image: url('../image/catalog-womans.jpg');
}

.catalog-mens {
    background-image: url('../image/catalog-mens.jpg');
}

.catalog-bags {
    background-image: url('../image/catalog-bags.jpg');
}

.catalog-wallet {
    background-image: url('../image/catalog-wallet.jpg');
}

.catalog-access {
    background-image: url('../image/catalog-access.jpg');
}

.catalog-belt {
    background-image: url('../image/catalog-belt.jpg');
}

.catalog-navbar {
    position: relative;
    background-color: rgb(236, 235, 235);
    width: 100%;
    transition: .5s;
    font-size: 20px;
    ul {
        padding: 3vh 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        li {
            list-style: none;
            .active {
                color: red;
            }
            a {
                color: black;
                text-decoration: none;
                font-family: 'Bellota';
                transition: .5s;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}

.product-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .product-card-link {
        color: black;
        text-decoration: none;
    }
    .product-card {
        padding: 20px;
        background-color: aquamarine;
        font-family: 'Bellota';
        transition: .3s;
        .product-image {
            width: 15vw;
            height: 15vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            transition: .2s;
        }
        .product-title {
            padding-top: 10px;
            font-size: 20px;
            font-weight: bold;
            &:hover {
                opacity: .5;
            }
        }
        .product-price {
            font-size: 16px;
            padding-top: 10px;
            transition: .3s;
            &:hover {
                opacity: .5;
            }
        }
    }
}