.navbar-desktop {
    position: fixed;
    z-index: 100;
    padding: 0;
    background-color: white;
    min-width: 100vw;
    height: 17.5vh;
    a {
        color: black;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            opacity: .5;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .navbar-head {
        display: flex;
        justify-content: center;
        width: 100%;
        /*a {
            display: flex;
            justify-content: center;
        }*/
    }
    .navbar-logo {
        display: flex;
        justify-content: center;
    }
    .navbar-logo-logo {
        background-image: url(../image/logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
        min-width: 35vw;
        height: 12vh;
    }
    .navbar-buttons {
        position: absolute;
        top: 30px;
        right: 40px;
        display: flex;
        justify-content: space-around;
        width: 300px;
        .navbar-buttons-button {
            width: 35px;
            &:hover {
                opacity: .5;
            }
        }
    }
    .navbar-footer {
        .navbar-links {
            display: flex;
            justify-content: space-around;
            padding: 10px 20px;
        }
        .navbar-link {
            display: inline-block;
            font-family: 'Bellota';
            font-size: 25px;
        }
    }
}