<h2>Создание товара</h2>

<form action="/manage/product/create" method="POST" enctype="multipart/form-data">
    <span>Имя: </span><input type="text" name="prodTitle"><br>
    {{!-- <span>Категории: </span><input type="text" name="category"><br> --}}
    <span>Категории: </span><select name="" id="selectCategory">
        <option value="0" selected disabled>Выберите категорию</option>
        <option value="man">Мужское</option>
        <option value="woman">Женское</option>
        <option value="bags">Сумки</option>
        <option value="wallet">Кошельки | Портмоне</option>
        <option value="belts">Ремни</option>
        <option value="accessories">Аксессуары</option>
    </select>
    <input type="text" name="category" id="catInput" placeholder="Категории" readonly><br>
    <span>Цена: </span><input type="text" name="price"><br>
    <span>Описание: </span><input type="text" name="description"><br>
    <span>Фото: </span><input type="file" name="photo" multiple accept=".jpg">
    <span>Видимость: </span><input type="checkbox" name="visible">
    <button type="submit">Сохранить</button>
</form>

<script>
    const selector = document.getElementById('selectCategory')
    const catInput = document.getElementById('catInput')
    selector.addEventListener('change', () => {
        let cat = selector.value
        console.log(cat)
        console.log(catInput.value.includes(cat + ' # '))
        if (catInput.value.includes(cat + ' # '))
            catInput.value = catInput.value.replace(cat + ' # ', '')
        //console.log(cat)
        else
            catInput.value += cat + ' # '
        selector.value = 0
    })
</script>