<h1>Создать новость</h1>

<div class="editorJsBlock">
    <div id="editorjs"></div>
    <button class="editorJsButton" onclick="OnSave()">save</button>
</div>

<form action="/manage/news/create" method="POST" enctype="multipart/form-data">
    <span>Имя: </span><input type="text" name="newsTitle"><br>
    <span>Категории: </span><input type="text" name="category"><br>
    <input id="data" type="text" name="data" hidden>
    <span>Видимость: </span><input type="checkbox" name="visible">
    <span>Фото: </span><input type="file" name="photo" accept=".jpg">
    <button type="submit">Сохранить</button>
</form>

{{> editorjs}}
<script src="../../script/textEditor.js"></script>