<h1>Создать новость</h1>

<div id="editorjs"></div>
<button onclick="OnSave()">save</button>

<form action="/manage/news/create" method="POST" enctype="multipart/form-data">
    <span>Имя: </span><input type="text" name="newsTitle"><br>
    <span>Категории: </span><input type="text" name="category"><br>
    <input type="text" name="data" hidden>
    <span>Автор: </span><input type="text" name="author"><br>
    <span>Видимость: </span><input type="checkbox" name="visible">
    <button type="submit">Сохранить</button>
</form>

{{> editorjs}}