<h2>Блог новостей</h2>

<a href="/manage/news/create"><button>Создать новость</button></a>


{{#if news.length}}

<ul>
    {{#each news}}
    <li>
        {{ newsTitle }}
    </li>
    {{/each}}
</ul>
{{else}}
<h3>Новостей нет!</h3>
{{/if}}