@font-face {
  font-family: "Cyrillic Times ET";
  src: url("../fonts/CTETIT.eot");
  src: url("../fonts/CTETIT.eot?#iefix") format("embedded-opentype"), url("../fonts/CTETIT.woff2") format("woff2"), url("../fonts/CTETIT.woff") format("woff"), url("../fonts/CTETIT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Regular.eot");
  src: url("../fonts/Bellota-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Regular.woff2") format("woff2"), url("../fonts/Bellota-Regular.woff") format("woff"), url("../fonts/Bellota-Regular.ttf") format("truetype"), url("../fonts/Bellota-Regular.svg#Bellota-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-LightItalic.eot");
  src: url("../fonts/Bellota-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-LightItalic.woff2") format("woff2"), url("../fonts/Bellota-LightItalic.woff") format("woff"), url("../fonts/Bellota-LightItalic.ttf") format("truetype"), url("../fonts/Bellota-LightItalic.svg#Bellota-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Italic.eot");
  src: url("../fonts/Bellota-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Italic.woff2") format("woff2"), url("../fonts/Bellota-Italic.woff") format("woff"), url("../fonts/Bellota-Italic.ttf") format("truetype"), url("../fonts/Bellota-Italic.svg#Bellota-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Light.eot");
  src: url("../fonts/Bellota-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Light.woff2") format("woff2"), url("../fonts/Bellota-Light.woff") format("woff"), url("../fonts/Bellota-Light.ttf") format("truetype"), url("../fonts/Bellota-Light.svg#Bellota-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-BoldItalic.eot");
  src: url("../fonts/Bellota-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-BoldItalic.woff2") format("woff2"), url("../fonts/Bellota-BoldItalic.woff") format("woff"), url("../fonts/Bellota-BoldItalic.ttf") format("truetype"), url("../fonts/Bellota-BoldItalic.svg#Bellota-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Bold.eot");
  src: url("../fonts/Bellota-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Bold.woff2") format("woff2"), url("../fonts/Bellota-Bold.woff") format("woff"), url("../fonts/Bellota-Bold.ttf") format("truetype"), url("../fonts/Bellota-Bold.svg#Bellota-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  overflow: auto;
  margin: 0 !important;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
}

.navbar-desktop {
  position: fixed;
  padding: 0;
  background-color: white;
  min-width: 100%;
  height: 15vh;
}
.navbar-desktop ul {
  margin: 0;
  padding: 0;
}
.navbar-desktop .navbar-head {
  display: flex;
  justify-content: center;
  width: 100%;
  /*a {
      display: flex;
      justify-content: center;
  }*/
}
.navbar-desktop .navbar-logo {
  display: flex;
  justify-content: center;
}
.navbar-desktop .navbar-logo-logo {
  background-image: url(../image/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 35vw;
  height: 12vh;
}
.navbar-desktop .navbar-buttons {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.navbar-desktop .navbar-buttons .navbar-buttons-button {
  width: 35px;
}
.navbar-desktop .navbar-buttons .navbar-buttons-button:hover {
  opacity: 0.5;
}

.navbar-footer .navbar-links {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}
.navbar-footer .navbar-link {
  display: inline-block;
  font-family: "Bellota";
  font-size: 25px;
}

.page-content {
  display: block;
  padding-top: 15vh;
}

.prodCard {
  margin: 5px;
  padding: 5px;
  background-color: #B5ADAD;
  display: inline-block;
}

.productContainer {
  margin: 0;
  width: 100vw;
  background-color: #EE9191;
}

.footer-desktop {
  background-color: #8f8c8a;
  font-family: "Bellota";
  padding: 2vh 10vw;
}
.footer-desktop .footer-column-text {
  font-size: 25px;
  color: silver;
}
.footer-desktop .footer-column-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer-desktop .footer-column-text ul li {
  margin-bottom: 1.5vh;
}
.footer-desktop .footer-column-text ul li a {
  color: silver;
}
.footer-desktop .footer-head {
  display: flex;
  justify-content: space-between;
}
.footer-desktop .footer-head .left-column {
  display: flex;
  flex-direction: column;
}
.footer-desktop .footer-head .center-colomn {
  display: flex;
  flex-direction: column;
}
.footer-desktop .footer-head .right-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  max-width: 15vw;
  flex-wrap: wrap;
  padding: 30px 0;
}
.footer-desktop .footer-head .right-column .footer-icon {
  width: 80px;
  opacity: 0.6;
}
.footer-desktop .footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-desktop .footer-bottom .footer-logo {
  background-image: url(../image/footer-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 10vh;
  width: 20vw;
}
.footer-desktop .footer-bottom .geo-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: silver;
}