@font-face {
  font-family: "Cyrillic Times ET";
  src: url("../fonts/CTETIT.eot");
  src: url("../fonts/CTETIT.eot?#iefix") format("embedded-opentype"), url("../fonts/CTETIT.woff2") format("woff2"), url("../fonts/CTETIT.woff") format("woff"), url("../fonts/CTETIT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Cyrillic Times ET";
}

.navbar {
  padding: 0 25%;
}
.navbar ul {
  display: inline-block;
}
.navbar .navbar-logo {
  display: inline-block;
}
.navbar .navbar-link {
  display: inline-block;
}