@charset "UTF-8";
@font-face {
  font-family: "Cyrillic Times ET";
  src: url("../fonts/CTETIT.eot");
  src: url("../fonts/CTETIT.eot?#iefix") format("embedded-opentype"), url("../fonts/CTETIT.woff2") format("woff2"), url("../fonts/CTETIT.woff") format("woff"), url("../fonts/CTETIT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Regular.eot");
  src: url("../fonts/Bellota-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Regular.woff2") format("woff2"), url("../fonts/Bellota-Regular.woff") format("woff"), url("../fonts/Bellota-Regular.ttf") format("truetype"), url("../fonts/Bellota-Regular.svg#Bellota-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-LightItalic.eot");
  src: url("../fonts/Bellota-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-LightItalic.woff2") format("woff2"), url("../fonts/Bellota-LightItalic.woff") format("woff"), url("../fonts/Bellota-LightItalic.ttf") format("truetype"), url("../fonts/Bellota-LightItalic.svg#Bellota-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Italic.eot");
  src: url("../fonts/Bellota-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Italic.woff2") format("woff2"), url("../fonts/Bellota-Italic.woff") format("woff"), url("../fonts/Bellota-Italic.ttf") format("truetype"), url("../fonts/Bellota-Italic.svg#Bellota-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Light.eot");
  src: url("../fonts/Bellota-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Light.woff2") format("woff2"), url("../fonts/Bellota-Light.woff") format("woff"), url("../fonts/Bellota-Light.ttf") format("truetype"), url("../fonts/Bellota-Light.svg#Bellota-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-BoldItalic.eot");
  src: url("../fonts/Bellota-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-BoldItalic.woff2") format("woff2"), url("../fonts/Bellota-BoldItalic.woff") format("woff"), url("../fonts/Bellota-BoldItalic.ttf") format("truetype"), url("../fonts/Bellota-BoldItalic.svg#Bellota-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bellota";
  src: url("../fonts/Bellota-Bold.eot");
  src: url("../fonts/Bellota-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bellota-Bold.woff2") format("woff2"), url("../fonts/Bellota-Bold.woff") format("woff"), url("../fonts/Bellota-Bold.ttf") format("truetype"), url("../fonts/Bellota-Bold.svg#Bellota-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 !important;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.page-content {
  display: block;
  padding-top: 17.5vh;
}

.carousel {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 0;
}
.carousel img {
  width: 1920px;
  height: 450px;
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  display: block;
}
.carousel .button {
  position: absolute;
  top: 0px;
  height: 450px;
  padding: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.carousel .button:focus {
  outline: none;
}
.carousel .button:hover {
  cursor: pointer;
}
.carousel .prev {
  width: 30%;
  left: 0px;
}
.carousel .next {
  width: 70%;
  right: 0px;
}
.carousel .gallery {
  width: 100%;
  overflow: hidden;
}
.carousel .gallery ul {
  height: 100%;
  width: 99999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 350ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}
.carousel .gallery li {
  display: inline-block;
}

.prodCard {
  margin: 5px;
  padding: 5px;
  background-color: #B5ADAD;
  display: inline-block;
}

.productContainer {
  margin: 0;
  width: 100vw;
  background-color: #EE9191;
}

.navbar-desktop {
  position: fixed;
  z-index: 100;
  padding: 0;
  background-color: white;
  min-width: 100vw;
  height: 17.5vh;
}
.navbar-desktop a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
.navbar-desktop a:hover {
  opacity: 0.5;
}
.navbar-desktop ul {
  margin: 0;
  padding: 0;
}
.navbar-desktop .navbar-head {
  display: flex;
  justify-content: center;
  width: 100%;
  /*a {
      display: flex;
      justify-content: center;
  }*/
}
.navbar-desktop .navbar-logo {
  display: flex;
  justify-content: center;
}
.navbar-desktop .navbar-logo-logo {
  background-image: url(../image/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 35vw;
  height: 12vh;
}
.navbar-desktop .navbar-buttons {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.navbar-desktop .navbar-buttons .navbar-buttons-button {
  width: 35px;
}
.navbar-desktop .navbar-buttons .navbar-buttons-button:hover {
  opacity: 0.5;
}
.navbar-desktop .navbar-footer .navbar-links {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}
.navbar-desktop .navbar-footer .navbar-link {
  display: inline-block;
  font-family: "Bellota";
  font-size: 25px;
}

.footer-desktop {
  position: absolute;
  top: 100vh;
  background-color: #8f8c8a;
  font-family: "Bellota";
  min-width: 80vw;
  padding: 2vh 10vw;
}
.footer-desktop a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
.footer-desktop a:hover {
  opacity: 0.5;
}
.footer-desktop .footer-column-text {
  font-size: 25px;
  color: silver;
}
.footer-desktop .footer-column-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer-desktop .footer-column-text ul li {
  margin-bottom: 1.5vh;
}
.footer-desktop .footer-column-text ul li a {
  color: silver;
}
.footer-desktop .footer-head {
  display: flex;
  justify-content: space-between;
}
.footer-desktop .footer-head .left-column {
  display: flex;
  flex-direction: column;
}
.footer-desktop .footer-head .center-colomn {
  display: flex;
  flex-direction: column;
}
.footer-desktop .footer-head .right-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  max-width: 15vw;
  flex-wrap: wrap;
  padding: 30px 0;
}
.footer-desktop .footer-head .right-column .footer-icon {
  width: 80px;
  opacity: 0.6;
}
.footer-desktop .footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-desktop .footer-bottom .footer-logo {
  background-image: url(../image/footer-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 10vh;
  width: 20vw;
}
.footer-desktop .footer-bottom .geo-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: silver;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 82.5vh;
  font-family: "Bellota";
}
.login .login-head {
  font-size: 5vh;
}
.login .login-form {
  width: 50vw;
  height: 30vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #ebc166;
}
.login .login-form p {
  text-align: center;
  display: block;
  margin: 0;
  margin-bottom: 2.5vh;
  padding: 0;
}
.login .login-form input {
  height: 5vh;
  width: 25vw;
  text-align: center;
  text-justify: center;
  font-size: 3.5vh;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
.login .login-form input:focus {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.login .login-form button {
  height: 2.5vh;
  width: 10vw;
  background-color: #ebc166;
  border: 2px solid silver;
}
.login .login-form button:hover {
  background-color: #fac34bc4;
}
.login .login-form button:focus {
  border: 2px solid silver;
  outline: none;
  outline-offset: 0;
}
.login .login-form button:active {
  border: none;
  outline: none;
  outline-offset: 0;
  background-color: #f7c0498c;
}