.carousel {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 0;
    img {
        width: 1920px;
        height: 960px;
        /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
        display: block;
    }
    .button {
        position: absolute;
        top: 0px;
        height: 450px;
        padding: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .button:focus {
        outline: none;
    }
    .button:hover {
        cursor: pointer;
    }
    .prev {
        width: 30%;
        left: 0px;
    }
    .next {
        width: 70%;
        right: 0px;
    }
    .gallery {
        width: 100%;
        overflow: hidden;
    }
    .gallery ul {
        height: 100%;
        width: 99999px;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: margin-left 350ms;
        /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
        /* http://davidwalsh.name/remove-whitespace-inline-block */
        font-size: 0;
    }
    .gallery li {
        display: inline-block;
    }
}
