.blog-content {
    font-family: 'Bellota';
    width: 50%;
    margin: 0 auto;
    .blog-title {
        h1 {
            text-align: center;
            padding-top: 40px;
        }
    }
    .blog-ul {
        list-style-type: none;
        li {
            list-style-type: none;
        }
        a {
            color: black;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                opacity: .5;
            }
        }
        .post-title {
            font-size: 30px;
            padding-bottom: 10px;
        }
        .blog-li-content {
            display: flex;
            flex-wrap: wrap;
        }
        .post-image {
            width: 250px;
            height: 250px;
            margin: 0 !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .post-description {
            text-align: justify;
            max-width: 65%;
            margin: 0 auto;
        }
        .blog-li {
            position: relative;
            padding: 2% 2%;
            padding-bottom: 30px;
            background-color: rgb(138, 221, 221);
            margin-bottom: 15px;
            // min-height: 370px;
        }
        .blog-li-bottom {
            opacity: .5;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 25px;
            // padding-right: 5%;
            max-width: 500px;
            min-width: 300px;
            // float: right;
            position: absolute;
            right: 5px;
            .postDate {
                font-style: italic;
            }
        }
        .views-icon {
            width: 15px;
            height: 15px;
            background-image: url('../../image/icon-views-eye.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .li-views {
            display: flex;
            justify-content: space-between;
        }
    }
}